<!DOCTYPE html>
<html>
<head>
	<LINK href="/assets/application.css" rel="stylesheet" type="text/css">
 	<title><%=@title_browser.present? ? "#{@title_browser} | El calidoso": "Hablame" %></title>
</head>

<body id="<% params[:controller].parameterize%>_controller">


<%= yield %>

</body>
</html>
