<!DOCTYPE html>
<html>

<head>
	<LINK href="/assets/application.css" rel="stylesheet" type="text/css">
 	<title><%=@title_browser.present? ? "#{@title_browser} | El calidoso": "Hablame" %></title>
 	<script src="assets/jquery.js"></script>
 	<script src="assets/jquery_ujs.js"></script>
 	<%= csrf_meta_tags %>


</head>

<body id="<% params[:controller].parameterize%>_controller">



<%= yield %>

</body>
</html>
