/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 */

@import "breve";

/*Variables*/
$azul:blue;
$fuente:normal 50px "Impact","Impact";

html{
	background-color: black;
}
.container{
	margin: 0 auto;
	display: block;
	/*max-width: 1024px;
	width: 100%;*/
	text-align: center;
	width: 1024px;
	background: url('cuco.png') center;
	clear: both;
	header{
		margin: 0 auto;
		padding: 15px;

		div.menu{
			float: left;
			ul{
				margin: 0 auto;
				padding: 0px;
				li{
					display:inline-block;
					margin: 0px 7px 0px 7px;
					a{
						color: gray;
						text-decoration: none;
						padding-bottom: 5px;
						font: normal 10px "Arial","Impact";
					}
					a:hover{
						background: linear-gradient(180deg, transparent 92%, #00FFCC 8%);
					}
				}
			}
		}
		
		div.logo_img{
			display: inline-block;
			img{
				height: 70px;
				margin-left: auto;
				margin-right: auto;
			}
		}
		
		div.connect{
			float: right;
			ul{
				margin: 0 auto;
				padding-left: 78px;
				li{
					display: inline-block;
					margin: 0px 7px 0px 7px;
					a{
						color: gray;
						text-decoration: none;
						padding-bottom: 5px;
						font: normal 10px "Arial","Impact";
					}
					a:hover{
						background: linear-gradient(180deg, transparent 92%, #00FFCC 8%);
					}
				}
			}
		}
	}

	section{
		margin: 120px 0px 0px 0px;
			.titulo_uno{
				margin: 120px 0px 0px 0px;
					width: 500px;
					height:30px;
					margin: 0 auto;
				img{
					height: 50px;
				}
				h1{
					display: block;
					color: white;
				}
				a{
					padding: 10px 20px 10px 20px;
					font: normal 11px "Arial","Impact";
					color: white;
					text-decoration: none;
					background-color: #00CC99;
					border-radius: 20px;
				}
				a:hover{
					background-color: #33CCCC;
				}
			}
			.pie_pag{
				margin: 280px 0px 0px 0px;
				padding: 0px 0px 17px 0px;

				img{
					height: 70px;
				}
				#cristiano{
					height: 600px;
					position: absolute;
					bottom: -9px;
					right: 120px;
				}

				h2{
					font: normal 10px "Arial","Impact";
					color:gray;
				}
				h3{
					font: normal 9px "Arial","Impact";
					color: gray;
					width: 300px;
					height:30px;
					margin: 0 auto;
				}
				a{
					font: normal 11px "Arial","Impact";
					color: #00CC99;
				}
			}
		}
}
