/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize
 */

@import "breve";

/*Variables*/
$azul:blue;
$fuente:normal 50px "Impact","Impact";

html{
	background-color: black;
}
.container{
	display: block;
	/*max-width: 1024px;*/
	text-align: center;
	/*width: 100%;*/
	width: 1024px;
	background: url('cuco.png') center;
	header{
		border: 1px solid blue;
		width: 90%;
		margin: 0 auto;

		div.menu{
			ul{
				display:inline-block;
				margin: 0 auto;
				padding: 20px;
				/*float: left;*/
				position: absolute;
				li{
					display:inline-block;
					padding: 0;
					a{
						color: white;
						text-decoration: none;
					}
				}
			}
		}
		
		#logo{
			display: inline-block;
			height: 100px;
		}
		
		div.connect{
			ul{
				margin: 0 auto;
				padding: 20px;
				position: absolute;
				li{
					display: inline-block;
				}
			}
		}
	}
}
