<div class="container">
	<div class="fold fold_uno">
		<header>
			<div class="menu">
				<ul>
					<li><a href="">How it works?</a></li>
					<li><a href="">Blog</a></li>
					<li><a href="">Contact us</a></li>					
				</ul>
			</div>
			<div class="logo_img"><img src="assets/11.png"></div>
			<div class="connect">
				<ul>
					<li><a href="">Login</a></li>
					<li><a href="/users/new">Get Started</a></li>
				</ul>
			</div>
		</header>

		<section>
			<article class="titulo_uno">
				<img src="assets/7.png">
				<h1>COLLECT, VISUALIZE & MONITOR DATA.</h1>
				<a href="">START A FREE TRIAL</a>
			</article>

			<article class="pie_pag">
				<img src="assets/8.png">
				<img id="cristiano" src="assets/10.png">
				<h2>COLLECT DATA FROM VARIOUS SOURCES:</h2>
				<h3>Easly capture data through the technology that makes sense for your organization. You can use multiple source data.</h3>
				<a href="">LEARN MORE</a>
			</article>

		</section>
	</div>
	<div class="fold fold_dos">
	</div>
</div>