
<div class="fold_uno">
	<div class="fondo_colorido">
		<img src="assets/logo_1">
		<h1>BotanicApp</h1>
		<table>
			<tr>
				<td>Usuario</td>
				<td><input type="text" class="a"></td>
			</tr>
			<tr>
				<td>Contraseña</td>
				<td><input type="password" class="a"></td>
			</tr>
			<tr>
				<td><a id="olvidaste_contrasena" href="">¿Olvidaste tu contraseña?</a></td>
				<td><button id="entrar_btn">Entrar</button></td>
			</tr>
			<tr id="col_botones">
				<td colspan=2><a id="entrar_facebook" href="">Entrar con Facebook</a></td>
			</tr>
			<tr id="col_botones">
				<td colspan=2><a id="entrar_google" href="">Entrar con Google+</a></td>
			</tr>
			<tr id="col_registro">
				<td colspan=2>¿No eres usuario? <a id="registro" href="">¡Registrate!</a></a></td>
			</tr>
		</table>
		<p id="pie_pagina">Diego Zuniga - 2015</p>
	</div>
</div>
<!--

<div class="fold_uno">
	<div class="menu_izq">
		<ul>
			<li><img src="assets/logo_1"></li>
			<li><a href="">Link 1</a></li>
			<li><a href="">Link 2</a></li>
		</ul>
	</div>

</div>


<input type="text" class="a">
<input type="text" class="b">
<input type="submit" class="sub">
<button id="uno">1</button>
<button id="dos">2</button>
<button id="tres">3</button>
<button id="check">+</button>
<select>
  <option value="volvo">+</option>
  <option value="saab">-</option>
  <option value="mercedes">x</option>
  <option value="audi">/</option>
</select>
-->
